.footer {
    background-color: var(--colorVermelho);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 2rem;
}

.footer__paragrafo {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
}

.footer__link {
    background-color: var(--colorBranco);
    color: var(--colorVermelho);
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    display: inline-block;
    border: 1px solid var(--colorVermelho);
    text-transform: uppercase;
    font-weight: bold;
}

.footer__link:hover {
    background-color: var(--colorVermelho);
    color: var(--colorBranco);
    border: 1px solid var(--colorBranco);
}

.footer__link_none {
    text-decoration: none;
    color: var(--colorBranco);
}

.footer__link_none:hover {
    color: var(--colorCinza);
}


@media screen and (max-width: 1024px) {
    .footer {
        display: block;
        margin: 0 auto;
        position: relative;
        margin-top: 15px;
    }

    .footer__paragrafo {
        font-size: 1.5rem;
    }

    .footer__link {
        font-size: 12px;
    }

    .footer__link_none {
        font-size: 20px;
        display: block;
        margin-top: 12px;
    }

    .footer__link:hover {
        font-size: 12px;
    }
}


@media screen and (max-width: 768px) {
    .footer {
        width: 80%;
        display: block;
        margin: 0 auto;
        position: relative;
        margin-top: 12px;
    }

    .footer__paragrafo {
        font-size: 1.5rem;
    }

    .footer__link {
        font-size: 12px;
    }

    .footer__link_none {
        font-size: 20px;
        display: block;
        margin-top: 12px;
    }

    .footer__link:hover {
        font-size: 12px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        width: 100%;
    }

    .footer__paragrafo {
        font-size: 1.5rem;
    }
}