* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--colorVermelho);
}

::-webkit-scrollbar-thumb {
  background: var(--colorBranco);
}

:root {
  --colorVermelho: #860813;
  --colorBranco: #fff;
  --colorCinza: #ccc;
}